#cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#logo{
    width: 120px;
}
#notificacao{
    width: 30px;
    align-content: right;
}

#usuario{
    width: 30px;
    align-items: right;
}

#carrinho{
    width: 30px;
    align-items: right;
}